body {
   margin-bottom: 10em;
  font-family: monospace;
  overflow: auto;
  overflow-y: scroll;
}

#loader {
  position: absolute;
  width: 14em;
  height: 4em;
  display: inline-block;
  font-size: 1.2em;
  top: 50%;
  left: 50%;
  margin-left: -7em; /* margin is -0.5 * dimension */
  margin-top: -2em;
  vertical-align: middle;
}

#loader > i {
  margin: 0.2em;
}

input[readonly] {
  cursor: auto;
  background-color: #aaa
}

input[type="password"] {
  font-family: sans-serif;
}

textarea {
  resize: vertical;
}

textarea[readonly] {
  cursor: auto;
  background-color: #aaa
}

p {
  font-size: 1.1em;
}

.text-monospace {
  font-family: monospace;
}

.input-group-btn {
  -moz-outline-style: none;
}

.password-entropy {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.control-label {
  font-size: 1.2em;
}

.label {
  border-radius: 0em;
}

.large-bottom {
  margin-bottom: 1em;
}

.github-fork-ribbon {
  background-color: #444;
}

.user-profile-item {
  margin-bottom: .1em;
  margin-left: .7em;
  display: block;
}

.user-profile-item > i {
  margin-right: .2em;
}

.bootstrap-tagsinput {
  width: 100%;
  border-radius: 0em;
}

.bootstrap-tagsinput > input {
  width: 10em;
}

@media (min-width: 0px) {
  .nav-icon { font-size: 2em; }
  .nav-label { font-size: 1.2em; }
}

@media (min-width: 768px) {
  .nav-icon { font-size: 3.5em; }
  .nav-label { font-size: 1.4em; }
}

.nav-justified > li {
  display: table-cell;
}

.nav-justified a {
  outline: none;
  -moz-outline-style: none;
}

.dismiss-icon {
  color: white;
}

.dismiss-icon:hover {
  cursor: pointer;
  color: #444;
}

.attached-file {
  display: inline-block;
  font-size: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-right: 1em;
  margin-bottom: .6em;
}
